<ngx-loading-x [show]="load"></ngx-loading-x>
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form
                  role="form"
                  (ngSubmit)="onSubmit()"
                  class="was-validated"
                  [formGroup]="Flogin"
                >
                  <h1>Acceso</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="icon-user"></i
                      ></span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      formControlName="user"
                      placeholder="Correo electronico"
                      autocomplete="username"
                      required
                    />

                    <div class="valid-feedback">Campo Valido.</div>
                    <div class="invalid-feedback">
                      Este campo es Obligatorio y tiene un formato
                      (xxx@dominio.xxx)
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="icon-lock"></i
                      ></span>
                    </div>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="pass"
                      placeholder="Contrasenna"
                      autocomplete="current-password"
                      required
                    />
                    <div class="valid-feedback">Campo Valido.</div>
                    <div class="invalid-feedback">
                      Este campo es Obligatorio
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button
                        type="submit"
                        class="btn btn-primary px-4"
                        [disabled]="!Flogin.valid"
                      >
                        Acceso
                      </button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">
                        Olvido contrasenna?
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="card text-white bg-primary py-5 d-md-down-none"
              style="width: 35%"
            >
              <div class="card-body text-center">
                <div>
                  <h2>Acceso</h2>
                  <p>
                    Recuerde que aun estamos en al fase de desarrollo aun existe
                    modulos que no estan desarrollados
                  </p>
                  <button
                    [routerLink]="['/register']"
                    type="button"
                    class="btn btn-primary active mt-3"
                  >
                    Registrarse Ahora!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
