<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form
                role="form"
                (ngSubmit)="onSubmit()"
                class="was-validated"
                [formGroup]="fromRegis"
              >
                <h1>Registro</h1>
                <p class="text-muted">Crea tu cuenta</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    autocomplete="username"
                    required
                  />
                  <div class="valid-feedback">Campo Valido.</div>
                  <div class="invalid-feedback">Nombre Usuario</div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="Correo electronico"
                    autocomplete="username"
                    required
                  />

                  <div class="valid-feedback">Campo Valido.</div>
                  <div class="invalid-feedback">
                    Este campo es Obligatorio y tiene un formato
                    (xxx@dominio.xxx)
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="pass"
                    autocomplete="new-password"
                    required
                  />
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Pepetir password"
                    autocomplete="new-password"
                    required
                    formControlName="pass2"
                  />
                </div>
                <button
                  type="submit"
                  [disabled]="confirmarPass()"
                  class="btn btn-block btn-success"
                >
                  Crear Cuenta
                </button>
                <button
                  type="button"
                  (click)="atras()"
                  class="btn btn-block btn-danger"
                >
                  Salir
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<ngx-loading-x [show]="load"></ngx-loading-x>
