<ngx-loading-x [show]="load"></ngx-loading-x>

<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form role="form" [formGroup]="fromP" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header text-center">
            <strong>Agregar </strong>
            <small>Proveedor</small>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="company">Nombre </label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="company"
                placeholder="Nombre Proveedor"
              />
            </div>

            <div class="form-group">
              <label for="company">Distancia</label>
              <input
                type="number"
                class="form-control"
                formControlName="distance"
                id="company"
                placeholder="Distancia"
              />
            </div>

            <div class="form-group">
              <label for="company">location</label>
              <input
                type="text"
                class="form-control"
                formControlName="location"
                id="company"
                placeholder="Localizacion"
              />
            </div>
            <div class="row">
              <div class="col-sm-6 col-xl-6"></div>
              <div class="col-sm-6 col-xl-6">
                <button
                  [disabled]="!fromP.valid"
                  type="submit"
                  class="btn btn-primary my-4 mr-2 fadeIn fourth"
                >
                  Crear
                </button>
                <button
                  [routerLink]="['/app', 'proveedor', 'listproveedor']"
                  type="button"
                  class="btn btn-primary my-4 fadeIn fourth"
                >
                  Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
