<div class="animated fadeIn">
  <!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Cuadro de Mando</h4>
          <div class="small text-muted">{{ dateFecha }}</div>
          <br />
        </div>
        <!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right">
            <i class="icon-cloud-download"></i>
          </button>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->

      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info">
            <div class="card-body pb-0">
              <div>Submodulo Cliente</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="cliente"
                (click)="hola($event)"
                routerLinkActive="router-link-active"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-users fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-info">
            <div class="card-body pb-0">
              <div>Submodulo Conocimiento</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="conocimiento"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-bank fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-pink">
            <div class="card-body pb-0">
              <div>Submodulo Economico-Financiero</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="economicoF"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-dollar fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-dark">
            <div class="card-body pb-0">
              <div>Submodulo Ambiental</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="ambiental"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-tree fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-facebook">
            <div class="card-body pb-0">
              <div>Submodulo Energetico</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-battery-full fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-google-plus">
            <div class="card-body pb-0">
              <div>Submodulo Logistica</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-beer fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-css3">
            <div class="card-body pb-0">
              <div>Submodulo Materiales Insumo</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-bus fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-dribbble">
            <div class="card-body pb-0">
              <div>Submodulo Produccion</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-cogs fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-flickr">
            <div class="card-body pb-0">
              <div>Submodulo Producto</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-television fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-cyan">
            <div class="card-body pb-0">
              <div>Submodulo Personal</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-user-circle fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-gray">
            <div class="card-body pb-0">
              <div>Submodulo Proveedor</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="Proveedor"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-thumbs-up fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-gray">
            <div class="card-body pb-0">
              <div>Proceso</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="Proceso"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-cog fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-foursquare">
            <div class="card-body pb-0">
              <div>Submodulo Organisativo</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-paste fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-indigo">
            <div class="card-body pb-0">
              <div>Submodulo Tecnologico</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name=""
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-laptop fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-instagram">
            <div class="card-body pb-0">
              <div>Submodulo Infraestructura</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height: 70px">
              <button
                name="infraestructura"
                (click)="hola($event)"
                type="button"
                class="btn btn-transparent p-0 mt-4 float-right"
              >
                <a class="fa fa-truck fa-3x"></a>
                Visitar
              </button>
            </div>
          </div>
        </div>

        <!--/.col-->
      </div>
    </div>
  </div>
  <!--/.card-->
</div>
