<ngx-loading-x [show]="load"></ngx-loading-x>
<div class="animated fadeIn">
  <button
    [routerLink]="['/app', 'producto', 'addproduct']"
    class="btn btn-success btn-sm mr-1"
    style="margin-bottom: 4px"
  >
    <span> <i class="fa fa-plus"></i> Agregar</span>
  </button>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify">Producto</i>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-responsive-sm">
            <thead>
              <tr>
                <th class="col-2" scope="col">Nombre Product</th>
                <th class="col-4" scope="col">Categotrias</th>
                <th class="col-2" scope="col-2">Valoracion</th>
                <th class="col-2" scope="col-2">Aciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of elemt">
                <td>{{ i.name }}</td>

                <td>
                  <ul>
                    <li *ngFor="let a of i.factors">
                      Nombre:{{ a.name }} | Valor:{{ a.value }} | Ponderacion:{{
                        a.weighing
                      }}
                    </li>
                  </ul>
                </td>

                <td>{{ i.final_rating * 100 }}</td>

                <td>
                  <!-- <button
                    class="btn btn-success btn-xs mr-1 ml-1"
                    [routerLink]="['/products', 'addproducts']"
                  >
                    <i class="fa fa-plus"></i>
                  </button> -->
                  <button
                    (click)="delete(i.id)"
                    class="btn btn-danger btn-md mr-1 ml-1"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
